$primary-color: #004475;

.imagecontainer img {
  width: 60px;
}
.logotext {
  font-size: 22px;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.7px;
}
.header {
  padding: 22px 00px;
  background-color: white !important;
}
.body-page {
      min-height: 100vh;
        background-color: #F1F5F9 !important;


}
.indices {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: $primary-color;
}
.example-stepper {
  background: white !important;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;

}
/* Cache les numéros du stepper */
:host ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  display: none;
}
.field-text {
  width: 50%;
}

/* Affiche seulement les icônes dans matStepLabel */
:host ::ng-deep .mat-step-header .mat-step-label mat-icon {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 8px;
  color: $primary-color;
  background-color: #E4ECF4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rrr {
    background-color: $primary-color;
    color: white !important;
    border-radius: 6px;
    padding: 8px 10px;

}
.secondaryButton {
    background-color: white !important;
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 6px;
    padding: 8px 10px;
    margin-right: 12px;

}
.content p {
  align-items: start;
  display: flex;
}
.poop {
  color: #4E616B;;
}
mat-icon {
  font-size: 20px;
  color: #4caf50; /* vert succès */
}

.cardpack{
  width: 300px;
  max-width: 100%;
  border-radius: 16px;
  background-color: #DCECFC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease,
box-shadow 0.3s ease;
    height: 100%;
    overflow: hidden;
    padding: 40px;
    color: #4E616B;
    margin-top: 20px;
    margin-bottom: 20px;
}
.packtitle h3 {
font-size: 37px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: $primary-color;
}

.monthlyfee {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000000;
}
.europerponth {
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
}
