$primary-color: #004475;

.imagecontainer img {
  width: 60px;
}
.logotext {
  font-size: 22px;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.7px;
}
.header {
  padding: 22px 00px;
  background-color: white !important;
}
.body-page {
      min-height: 100vh;
        background-color: #F1F5F9 !important;


}
.indices {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: $primary-color;
}
.example-stepper {
  background: white !important;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  
}
/* Cache les numéros du stepper */
:host ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  display: none;
}
.field-text {
  width: 50%;
}

/* Affiche seulement les icônes dans matStepLabel */
:host ::ng-deep .mat-step-header .mat-step-label mat-icon {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 8px;
  color: $primary-color;
  background-color: #E4ECF4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rrr {
    background-color: $primary-color;
    color: white !important;
    border-radius: 6px;
    padding: 8px 10px;
    
}
.secondaryButton {
    background-color: white !important;
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 6px;
    padding: 8px 10px;
    margin-right: 12px;
    
}