@import url('./../register/register.scss');
$primary-color: #004475;

.container-fluid {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
}
.waitingdiv {
    background: white !important;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
}
.waitingtext p {
  font-size: 18px;
  color: #4E616B;
  text-align: center;
  margin: 0;
}
.waitingtext .big {
 color: $primary-color;
 $primary-color: #004475;

  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;

}
.waitingimage img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
